@model IEnumerable<ExpenseTrackingApp.Models.OnlineAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=> model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount1.EmailAcc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount1.EmailAcc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
